* {
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {

  /* 
    mobile view
    */
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: Noto Sans;

    background-repeat: no-repeat;
    background-attachment: fixed;

    display: block;

    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {

  /* 
    desktop view
    */
  body {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    font-family: Noto Sans;

    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;


    margin: 0 auto;

    width: 100vw;
    height: fit-content;
  }

  #hero-section {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: center;
  }

  #hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
  }

}